<app-navbar></app-navbar>

<!-- Carousel -->
<div class="home-main">
  <div class="container-fluid a_cont">
    <div class="carosel">
      <ngb-carousel style="margin-top: -23px;">
        <ng-template ngbSlide *ngFor="let item of carouselImgList">
          <div class="picsum-img-wrapper">
            <a href="{{item?.navigationUrl}}" target="_blank"><img [src]="item?.url" alt="Random first slide"
                width="1530" height="570"></a>
          </div>
          <div class="carousel-caption">
            <h3>{{item?.imageTitle}}</h3>
            <p>{{item?.imageDescription}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>


  </div><br><br>
  <div class="home-grid">

    <div class="ad-portion" style="padding-left: 20px; padding-right:20px;">
      <a href="{{sideHomeAd?.sponsoreWebsiteUrl}}" target="_blank"><img src="{{sideHomeAd?.sponsoreImageUrl}}" alt=""
          style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;"></a>


    </div>


    <!-- Section 2 -->
    <div class="Top-sells">
      <h1>Top Selling Products</h1>

      <div class="my-row">

        <div class="col-2" *ngFor="let singleProduct of fiveMostSelledProduct">

          <a style=" font-family: Gotham Medium; font-size: 1rem; color: #282828; text-decoration: none;"
            [routerLink]="['/Product-detail/', singleProduct?.productID]">
            <img src="{{singleProduct?.getProductImagess[0].url}}" class="card-img-top" alt="adv" />
            <p class="discount-badge" *ngIf="singleProduct?.discountPercentage > 0">
              -{{singleProduct?.discountPercentage}}%</p>
            <span
              style="font-family: Gotham Medium; font-size: 1rem; display: block; "><b>{{singleProduct?.productName}}</b>
              &nbsp;({{singleProduct?.color}} {{singleProduct?.productBrandName}}) </span>
            <p *ngIf="singleProduct?.afterDiscountPrice == 0"
              style="color:#1c1018; font-family: Gotham Medium; font-size: 1.1rem; margin:0; "><b>{{singleProduct?.price
                |
                currency: 'Rs ': 'symbol':'1.0'}}</b></p>

            <p *ngIf="singleProduct?.afterDiscountPrice > 0"
              style="color:#1c1018; font-family: Gotham Medium; font-size: 1.1rem; margin:0; ">
              <b>{{singleProduct?.afterDiscountPrice |
                currency: 'Rs ': 'symbol':'1.0'}} &nbsp; </b> <del>{{singleProduct?.price | currency: 'Rs ':
                'symbol':'1.0'}}</del>
            </p>

            <img *ngIf="singleProduct?.showStarsByRatings"
              src="../../../assets/stars-rating/{{singleProduct?.showStarsByRatings == 'NaN'? 0: singleProduct?.showStarsByRatings}}.png"
              width="100px" height="20px" alt="">

            ({{singleProduct?.raiting}})
          </a>
        </div>






      </div> <br><br>
      <hr>


      <h1 style="padding:0;margin:0;">Top Products On Sale
      </h1>

      <a [routerLink]="['/Products', 1]" style="font-size: 1rem;">Show More</a>


      <div class="my-row">

        <div class="col-2" *ngFor="let singleProduct of fiveDiscountProducts">
          <a style=" font-family: Gotham Medium; font-size: 1rem; color: #282828; text-decoration: none;"
            [routerLink]="['/Product-detail/', singleProduct?.productID]">
            <img src="{{singleProduct?.imageUrl}}" class="card-img-top" alt="adv" />
            <p class="discount-badge" *ngIf="singleProduct?.discountPercentage > 0">
              -{{singleProduct?.discountPercentage}}%</p>
            <span
              style="font-family: Gotham Medium; font-size: 1rem; display: block; "><b>{{singleProduct?.productName}}</b>
              &nbsp;({{singleProduct?.color}} {{singleProduct?.productBrandName}}) </span>

            <p style="color:#1c1018; font-family: Gotham Medium; font-size: 1.1rem; margin:0; ">
              <b>{{singleProduct?.afterDiscountPrice |
                currency: 'Rs ': 'symbol':'1.0'}} &nbsp; </b> <del>{{singleProduct?.price | currency: 'Rs ':
                'symbol':'1.0'}}</del>
            </p>



            <img *ngIf="singleProduct?.showStarsByRatings"
              src="../../../assets/stars-rating/{{singleProduct?.showStarsByRatings == 'NaN'? 0: singleProduct?.showStarsByRatings}}.png"
              width="100px" height="20px" alt="">

            ({{singleProduct?.raiting}})
          </a>
        </div>


      </div>

    </div>

  </div>

</div>




<div class="latest-review-row" >

  <h1 class="heading">Latest Reviews</h1>
  <hr>

  <div class="latest-review-products-list" >
    <div class="single-review-product" *ngFor="let singleProduct of fiveProductsReview">
      <img src="{{singleProduct?.productImageUrl}}" width="115px" height="115px" alt="">
      <div>

        <a [routerLink]="['/Product-detail/', singleProduct?.productId]" style="color:black;">
          <p style="font-size: 16px;font-weight: 500;">{{singleProduct?.productName}}</p>
        </a>

        <div>
          <img *ngIf="singleProduct?.raitingStars"
            src="../../../assets/stars-rating/{{singleProduct?.raitingStars == 'NaN'? 0: singleProduct?.raitingStars}}.png"
            width="100px" height="20px" alt=""> &nbsp;<span>{{singleProduct?.reviewDate | date :'d' }} days ago</span>
          <p style="max-width: 230px; margin-top: 0.7rem; max-height: 240px;overflow: auto;">{{singleProduct?.comment}}
          </p>
        </div>

      </div>

    </div>
  </div>


  <hr>
</div>
<br><br><br><br>

<!-- Recently products -->

<h1 style="margin-left: 130px; font-weight: bold; font-size: 30px;">Recently Viewed Products</h1>
<div class="my-row" style="overflow-x:auto;">

  <div class="my-row recently-products">
    <div class="col-2" *ngFor="let singleProduct of recentlyViewProducts">
      <a style=" font-family: Gotham Medium; font-size: 1rem; color: #282828; text-decoration: none;"
        [routerLink]="['/Product-detail/', singleProduct?.productId]">
        <img src="{{singleProduct?.productImageUrl}}" class="card-img-top" alt="adv" />
        <p class="discount-badge" *ngIf="singleProduct?.discountPercentage > 0">
          -{{singleProduct?.discountPercentage}}%</p>
        <span
          style="font-family: Gotham Medium; font-size: 1rem; display: block; "><b>{{singleProduct?.productName}}</b>
        </span>

        <p *ngIf="singleProduct?.discountPercentage > 0"
          style="color:#1c1018; font-family: Gotham Medium; font-size: 1.1rem; margin:0; ">
          <b>{{singleProduct?.afterDiscountProductPrice |
            currency: 'Rs ': 'symbol':'1.0'}} &nbsp; </b> <del>{{singleProduct?.price | currency: 'Rs ':
            'symbol':'1.0'}}</del>
        </p>

        <p *ngIf="singleProduct?.discountPercentage == 0"
          style="color:#1c1018; font-family: Gotham Medium; font-size: 1.1rem; margin:0; ">
          <b>{{singleProduct?.price |
            currency: 'Rs ': 'symbol':'1.0'}}
          </b>
        </p>



        <img *ngIf="singleProduct?.showProductStars"
          src="../../../assets/stars-rating/{{singleProduct?.showProductStars == 'NaN'? 0: singleProduct?.showProductStars}}.png"
          width="100px" height="20px" alt="">

        ({{singleProduct?.raiting}})
      </a>
    </div>


  </div>
</div>

<hr>
<br><br><br><br>

<div class="popular-categories">
  <div>
    <h1 style="font-size: 30px; font-weight: bold;">Popular Categories</h1>
  </div>

  <div>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="popularCategorySlidesConfig">
      <div ngxSlickItem *ngFor="let slide of popularCategorySlides" class="slide">
        <img src="{{ slide.img }}" height="250px" alt="" width="100%">
      </div>
    </ngx-slick-carousel>
  </div>
</div><br><br>
<hr>

<div style="overflow-x: auto;">

  <div class="cards" >

    <div class="first-card">
      <i class="fa-solid fa-truck-fast" style="font-size: 55px; padding-top:20px;"></i>
      <div>
        <h1 style="padding-top:12px; margin: 0;">Fast Delivery</h1>
        <span style="color:rgb(119, 112, 112); font-size: 16px;">Everywhere</span>
      </div>

    </div>

    <div class="second-card">
      <i class="fa-solid fa-tag" style="font-size: 55px; padding-top:20px;"></i>
      <div>
        <h1 style="padding-top:12px; margin: 0;">Responsible Product Price</h1>
        <span style="color:rgb(119, 112, 112); font-size: 16px;">Friendly to pocket</span>
      </div>
    </div>

    <div class="third-card">
      <i class="fa-solid fa-store" style="font-size: 55px; padding-top:20px;"></i>
      <div>
        <h1 style="padding-top:12px; margin: 0;">Trust On Us</h1>
        <span style="color:rgb(119, 112, 112); font-size: 16px;">Lorem, ipsum.</span>
      </div>
    </div>

    <div class="forth-card">
      <i class="fa-solid fa-user" style="font-size: 55px; padding-top:20px;"></i>
      <div>
        <h1 style="padding-top:12px; margin: 0;">Positive Customer</h1>
        <span style="color:rgb(119, 112, 112); font-size: 16px;">Best Reviews</span>
      </div>
    </div>

  </div>


</div>

<br><br><br>
<hr>

<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" height="220px" alt="" width="100%">
  </div>
</ngx-slick-carousel>
<br><br>


<app-footer></app-footer>









<!-- Sponsore Ad model -->

<p-dialog *ngIf="popUpAd" [(visible)]="displaySponsoreAdModal" (onHide)="hideAdDialog()" [modal]="true"
  [style]="{width: '80vw', height:'80vw'}" [draggable]="false" [resizable]="false">

  <a href="{{popUpAd?.sponsoreWebsiteUrl}}" target="_blank">
    <img class="pop-up-ad-img" src="{{popUpAd?.sponsoreImageUrl}}" alt="">
  </a>

</p-dialog>
