<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col"><br>

      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="forgetPasswordError">
        {{forgetPasswordError}}
      </div>

      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="!tokenFound">
        Email has been send to your account to reset your password
      </div>
      <div class="forget-password-section" *ngIf="tokenFound">



        <h1>Find your account</h1>

        <form #a="ngForm" (ngSubmit)="forgetPasswordData(a?.value)" >

          <h3>Please enter your email address to search for your account.</h3>
          <input ngModel type="email" name="email" class="form-control" placeholder="Email address"
            style="width:30rem;"><br>


            <button class="btn btn-primary" type="submit"  >Search</button> | &nbsp;
          <button class="btn btn-light" [routerLink]="['/Auth']">Cancel</button>
        </form>
      </div>
      <hr>
    </div>

  </div>
</div>

<app-footer></app-footer>
