.main-div {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar-div {
  background-color: #f0f0f0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  padding: 1.8rem;
  height: fit-content;
}

ul {
  list-style: none;
}

.sidebar-div ul li {
  padding-bottom: 1.5rem;
}

.sidebar-div ul li a {
  text-decoration: none;
  font-size: large;
  color: black;
  padding-right: 100%;
  cursor: pointer;
}

.sidebar-div ul li a:hover {
  color: green;
}


.col-2{

}

.col-2:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transform: translate(0, -10px);
}


.show-all {
  padding: 1.9rem;
   text-decoration: none;
    font-size: 20px;
     cursor: pointer;
}

.show-all:hover {
  color: green;
}

ngb-pagination ul {
 margin-left: 100px;
}
