<app-navbar></app-navbar><br>


<div class="main-div">

  <div>
    <div class="sidebar-div">
      <h1 style="text-align:center;">BRAND</h1>
      <hr>
      <a (click)="filterProductShows(0)" class="show-all">Show All</a>
      <hr>
      <ul>
        <li *ngFor="let singleBrand of brands"><a
            (click)="filterProductShows(singleBrand?.brandID)">{{singleBrand?.brandName}}</a></li>
      </ul>

    </div> <br><br>

    <div *ngIf="LiveDiscountDeal?.length > 0" class="sidebar-div">
      <h1 style="text-align:center;">DISCOUNT DEAL</h1>
      <hr>
      <ul>
        <li *ngFor="let singleDiscount of LiveDiscountDeal"><a style="padding: 0;"
            (click)="filterProductByDiscountDealShows(singleDiscount?.discountDealID)">{{singleDiscount?.dealName}}</a>
        </li>
      </ul>
    </div>
  </div>






  <div>
    <h1>Main section</h1>


    <div class="row" *ngIf="dealProducts?.length == 0">
      <div class="col-2" *ngFor="let singleProduct of productList?.productData">
        <a style=" font-family: Gotham Medium; font-size: 15px; color: #282828; text-decoration: none;"
          [routerLink]="['/Product-detail/', singleProduct?.productID]">
          <img src="{{singleProduct?.getProductImagess[0].url}}" class="card-img-top" alt="adv"
            style=" max-width: max-content; height: 200px;" />
          <p class="discount-badge" *ngIf="singleProduct?.discountPercentage > 0">
            -{{singleProduct?.discountPercentage}}%</p>
          <span
            style="font-family: Gotham Medium; font-size: 14px; display: block; "><b>{{singleProduct?.productName}}</b>
            &nbsp;({{singleProduct?.color}} {{singleProduct?.productBrandName}}) </span>
            
          <p *ngIf="singleProduct?.afterDiscountPrice == 0"
            style="color:#1c1018; font-family: Gotham Medium; font-size: 18px; margin:0; "><b>{{singleProduct?.price |
              currency: 'Rs ': 'symbol':'1.0'}}</b></p>

          <p *ngIf="singleProduct?.afterDiscountPrice > 0"
            style="color:#1c1018; font-family: Gotham Medium; font-size: 18px; margin:0; ">
            <b>{{singleProduct?.afterDiscountPrice |
              currency: 'Rs ': 'symbol':'1.0'}} &nbsp; </b> <del>{{singleProduct?.price | currency: 'Rs ':
              'symbol':'1.0'}}</del>
          </p>

          <img
            src="../../../assets/stars-rating/{{singleProduct?.showStarsByRatings == 'NaN'? 0 : singleProduct?.showStarsByRatings}}.png"
            width="100px" height="20px" alt="">

          ({{singleProduct?.raiting}})
        </a>
      </div>

    </div>

    <div class="row" *ngIf="dealProducts?.length > 0">
      <div class="col-2" *ngFor="let singleProduct of dealProducts">
        <a style=" font-family: Gotham Medium; font-size: 15px; color: #282828; text-decoration: none;"
          [routerLink]="['/Product-detail/', singleProduct?.productId]">
          <img src="{{singleProduct?.productImageUrl}}" class="card-img-top" alt="adv"
            style=" max-width: max-content; height: 200px;" />
          <p class="discount-badge" *ngIf="singleProduct?.discountPercentage > 0">
            -{{singleProduct?.discountPercentage}}%</p>
          <span
            style="font-family: Gotham Medium; font-size: 14px; display: block; "><b>{{singleProduct?.productName}}</b>
          </span>
          <p style="color:#1c1018; font-family: Gotham Medium; font-size: 18px; margin:0; ">
            <b>{{singleProduct?.afterPrice |
              currency: 'Rs ': 'symbol':'1.0'}} &nbsp; </b> <del>{{singleProduct?.beforePrice | currency: 'Rs ':
              'symbol':'1.0'}}</del>
          </p>
          <img
            src="../../../assets/stars-rating/{{singleProduct?.showStarsByRatings == 'NaN'? 0 : singleProduct?.showStarsByRatings}}.png"
            width="100px" height="20px" alt="">

          ({{singleProduct?.raiting}})
        </a>
      </div>

    </div>

    <ngb-pagination *ngIf="dealProducts?.length == 0" class="d-flex justify-content-center"
      (pageChange)="tablePageNoChange($event)" [collectionSize]="productList?.countProducts" [pageSize]="24" [page]="1"
      [directionLinks]="true"></ngb-pagination>
  </div>

  <div *ngIf="sideMixProductsPage" class="ad-portion" style="padding-left: 20px; padding-right:20px;">
    <a href="{{sideMixProductsPage?.sponsoreWebsiteUrl}}" target="_blank"><img
        src="{{sideMixProductsPage?.sponsoreImageUrl}}" alt=""></a>

  </div>



</div>

<app-footer></app-footer>
