<app-navbar></app-navbar>

<div class="main-div">

  <div></div>
  <!-- <div class="sidebar-div">
    <h1 style="text-align:center;">BRAND</h1>
    <hr>
    <ul>
      <li *ngFor="let singleBrand of brands"><a
          (click)="filterProductShows(singleBrand?.brandID)">{{singleBrand?.brandName}}</a></li>
    </ul>
  </div> -->



  <div>
    <br>
    <div class="alert alert-danger alert-dismissible fade show" style="width:fit-content;" role="alert"
      *ngIf="notProductFoundBySearchMesg">
      {{notProductFoundBySearchMesg}}
    </div>

    <div class="row">
      <h1>{{productTotalCount}} items found for "{{searchByData}}"</h1>
      <div class="col-2" *ngFor="let singleProduct of productList">
        <a style=" font-family: Gotham Medium; font-size: 15px; color: #282828; text-decoration: none;"
          [routerLink]="['/Product-detail/', singleProduct?.productID]">
          <img src="{{singleProduct?.imageUrl}}" class="card-img-top" alt="adv"
            style="  max-width: max-content; height: 200px;" />
          <span
            style="font-family: Gotham Medium; font-size: 14px; display: block; "><b>{{singleProduct?.productName}}</b>
            &nbsp;({{singleProduct?.color}} {{singleProduct?.productBrandName}}) </span>

          <p style="color:#1c1018; font-family: Gotham Medium; font-size: 18px; "><b>{{singleProduct?.price |
              currency: 'Rs ': 'symbol':'1.0'}}</b></p>
        </a>
        <img
          src="../../../assets/stars-rating/{{singleProduct?.showStarsByRatings == 'NaN'? 0: singleProduct?.showStarsByRatings}}.png"
          width="100px" height="20px" alt="">
        <span>&nbsp;&nbsp;({{singleProduct?.raiting}})</span>
      </div>

    </div>

    <ngb-pagination class="d-flex justify-content-center" (pageChange)="tablePageNoChange($event)"
      [collectionSize]="productTotalCount" [pageSize]="24" [page]="1" [directionLinks]="true"></ngb-pagination>
  </div>

</div>

<app-footer></app-footer>
