<app-navbar></app-navbar>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <mat-tab-group (selectedTabChange)="onTabChanged($event)">

        <mat-tab label="To Be Reviewed">
          <br>
          <!-- Single Row -->

          <p-table [value]="pendingOrderReviewArr" [paginator]="true" [rows]="8" [showCurrentPageReport]="true"
            responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="header">
              <tr>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <div class="singleRow">
                  <div class="productReview">


                    <div class="ProductNameAndProductImage">

                      <div style="width:80px ;height:80px; ">
                        <a [routerLink]="['/Product-detail/', item.productId]"> <img
                            src="{{item.productSingleImageUrl}}" width="80px" height="80px" alt=""></a>
                      </div>

                      <div style="width: 70%; border-right:1px solid black;">
                        <a [routerLink]="['/Product-detail/', item.productId]"
                          style="text-decoration: none; color:black;">
                          &nbsp; &nbsp; <span>{{item.productName}}</span><br>
                          &nbsp; &nbsp; <span>Color familiy: {{item.productColor}}</span>
                        </a>

                      </div>

                      <div style="padding-left: 2rem;">
                        <button class="btn btn-primary"
                          style="padding:0.7rem; padding-left: 5rem; padding-right: 5rem; margin-top: 0.6rem;"
                          (click)="OpenSingleProductReviewPage(item?.productId, item?.orderProductReviewId)">REVIEW</button>
                      </div>

                    </div>



                  </div>
                </div>
              </tr>
            </ng-template>

          </p-table>

        </mat-tab>



        <mat-tab label="Reviewed Done" class="reviewed-section">
          <br>

          <p-table [value]="reviewedOrdersReviewArr" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="header">
              <tr>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <div class="ReviewSingleRow reviewedProduct">
                  <div class="productReview " style="height:300px; max-height: 300px;">


                    <h3>Your product rating and review</h3>
                    <div class="ProductNameAndProductImage">
                      <div style="width:80px ;height:80px; ">
                        <a [routerLink]="['/Product-detail/', item?.productId]"> <img
                            src="{{item?.productSingleImageUrl}}" width="80px" height="80px" alt=""></a>
                      </div>

                      <div style="width: 100%;">
                        <a [routerLink]="['/Product-detail/', item?.productId]"
                          style="text-decoration: none; color:black;">
                          &nbsp; &nbsp; <span>{{item?.productName}}</span><br>
                          &nbsp; &nbsp; <span>Color familiy: {{item?.productColor}}</span>
                        </a>

                        <div class="reviewedStars">
                          <div class="review-stars">

                            <div style="padding-left: 0.8rem;">
                              <img src="../../../assets/stars-rating/5.png" width="220px" height="40px"
                                *ngIf="item?.ratingStars == 5" alt="">
                              <img src="../../../assets/stars-rating/4.png" width="220px" height="40px"
                                *ngIf="item?.ratingStars == 4" alt="">
                              <img src="../../../assets/stars-rating/3.png" width="220px" height="40px"
                                *ngIf="item?.ratingStars == 3" alt="">
                              <img src="../../../assets/stars-rating/2.png" width="220px" height="40px"
                                *ngIf="item?.ratingStars == 2" alt="">
                              <img src="../../../assets/stars-rating/1.png" width="220px" height="40px"
                                *ngIf="item?.ratingStars == 1" alt="">
                              <span style="font-size:15px;">
                                {{item?.ratingStars == 5? 'Delightful': ''}}
                                {{item?.ratingStars == 4? 'Satisfactory': ''}}
                                {{item?.ratingStars == 3? 'Neutral': ''}}
                                {{item?.ratingStars == 2? 'Poor': ''}}
                                {{item?.ratingStars == 1? 'Very poor': ''}}
                              </span>
                            </div>

                          </div>

                        </div>

                        <div class="review-content">
                          <p>{{item?.productComment}}</p>
                        </div><br>

                        <div class="review-pictuers">
                          <img *ngFor="let singleImage of item?.productReviewedPhoto" src="{{singleImage?.url}}"
                            width="100px" height="100px" alt="" style="padding-left: 1rem;">
                        </div>



                      </div>




                    </div>



                  </div>
                </div>
              </tr>
            </ng-template>

          </p-table>







        </mat-tab>
      </mat-tab-group>

    </div>


  </div>
</div>

<app-footer></app-footer>
