<nav class="navbar  navbar-expand-lg   bg-success">

  <a class="navbar-brand NavLogoText" [routerLink]="['/']">
    <img src="../../../assets/fox.jpg" class="navbarlogoImg" alt="fox picture" width="30" height="40">
    Paenmart
  </a>
  <span style="color: white;">{{userDetails?.fullName}} &nbsp;&nbsp;</span>

  <div *ngIf="isLoggedIn()">
    <a *appHasRole="['Admin', 'Employee', 'Shipper']" class="admin-link" (click)="openAdminSidePanel()">Admin-panel</a>
    <span *ngIf="pendingOrdersCountingLive" class="notification-badge">{{pendingOrdersCountingLive}}!</span>
    <span class="shipper-notification-badge" *appHasRole="['Shipper']">{{shippingPendingOrdersCountingLive}}!</span>

  </div>

  <!-- Search Input with button -->
  <div class="d-flex searchEngineAndButton">
    <input type="text" ngModel #searchValue placeholder="Search everything by brand and product name and category name"
      [(ngModel)]="searchState" (focus)="showHistoryHandlerToggle()" id="search"
      (keyup.enter)="SearchValue(searchValue?.value)" class="form-control searchEngine"
      (ngModelChange)="this.userQuestionUpdate.next($event)">
    <!-- (ngModelChange)="autoCompleteSearchCall($event)" -->







    <button class="searchBtnSubmit" (click)="SearchValue(searchValue?.value)"><i
        class="fa-solid fa-magnifying-glass"></i></button>
  </div>


  <!-- Cart button -->

  <ul class="navbar-nav ms-auto">

    <li class="nav-item">
      <a class="dropbtn btn btn-success" *ngIf="!isLoggedIn()" [routerLink]="['/Auth']">Sign Up/ Log In &nbsp;</a>

      <div class="dropdown" *ngIf="isLoggedIn()">



        <a class="dropbtn btn btn-success">Log out {{userDetails?.email}} &nbsp;
          <img src="{{imageValue}}" style="width: 40px; height:40px; border-radius: 50%;" alt="">&nbsp;
          <i class="fa-solid fa-caret-down"></i>

        </a>
        <div class="dropdown-content">
          <a [routerLink]="['/User/EditUser/',userDetails?.id]"><i class="fa-regular fa-face-smile"></i>&nbsp;&nbsp; My
            Profile</a>
          <a [routerLink]="['/Client/Orders/', userDetails?.id]"><i class="fa-solid fa-box"></i>&nbsp;&nbsp; My
            Orders</a>
          <a style="padding-left: 5px; width: 150px;" [routerLink]="['/Client/Order-Track']"><i
              class="fa-solid fa-truck-fast"></i>&nbsp;&nbsp; Order Track</a>
          <a style="padding-left: 6px; width: 150px;" [routerLink]="['/Client/Wishlist']"><i
              class="fa-regular fa-heart"></i>&nbsp;&nbsp; My Wishlist</a>
          <a style="padding-left: 6px; width: 150px;" [routerLink]="['/Client/Reviews']"><i
              class="fa-regular fa-star"></i>&nbsp;&nbsp; My Reviews</a>
          <a style="padding-left: 6px; width: 330px;" (click)="logOutUser()"><i
              class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp; Log out &nbsp;{{userDetails?.email}} </a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link " id="{{!isLoggedIn()? 'notCartButton':'cartButton'}}" [routerLink]="['/Cart']"> <i
          class="fa cartIcon">&#xf07a;</i>
        <span class='badge badge-warning' id='lblCartCount'> {{numberOfItemsInCart}} </span></a>
    </li>
  </ul>

</nav>

<div class="search-main-div" *ngIf="showSearchHistory">
  <ul>
    <li *ngFor="let singleSearch of showSearchHistoryArr" (click)="changeSelectSearchHistory(singleSearch)">
      &nbsp;&nbsp;<i class="fa-solid fa-clock-rotate-left"></i>
      &nbsp;&nbsp;&nbsp;{{singleSearch}}</li>
  </ul>
</div>


<div class="search-main-div" *ngIf="showAutoCompleteSuggestionDrop">
  <ul>
    <li *ngFor="let singleSearch of recommendedSearchList" (click)="changeSelectSearchHistory(singleSearch)">
      &nbsp;&nbsp;<i class="fa-solid fa-magnifying-glass"></i>
      &nbsp;&nbsp;&nbsp;{{singleSearch}}</li>


  </ul>
</div>

<!-- Main Category -->
<div class="bg-category">
  <div class="category">
    <span *ngFor="let singleCategory of categories"
      (mouseenter)="getSubCategories(singleCategory?.categoryID)">{{singleCategory?.categoryName}} &nbsp;<i
        class="fa-solid fa-caret-down"></i></span>
    <!-- Sub-Category -->
    <div class="category_submenu">
      <div class="row">
        <div class="col" *ngFor="let singleCategory of subCategories">
          <h5>{{singleCategory?.subCategoryName}}</h5>
          <li class="nest-sub-menu" *ngFor="let singleNestCategory of singleCategory?.nestSubCategories"><a
              [routerLink]="['/Products/',singleNestCategory?.nestSubCategoryID ]">{{singleNestCategory?.nestSubCategoryName}}</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
