<app-navbar></app-navbar>
<br><br>
<!-- Carousel Column -->
<div class="my-custom-container">

  <div class="ad-portion" style="padding-left: 20px; padding-right:20px; ">
    <a href="{{sideProductDetailPage?.sponsoreWebsiteUrl}}" target="_blank"><img
        src="{{sideProductDetailPage?.sponsoreImageUrl}}"
        style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" alt=""></a><br><br>
    <!-- {{sideProductDetailPage?.sponsoreImageUrl}} -->
  </div>

  <div class="row">

    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="productSizeSelectedValidation">
      {{productSizeSelectedValidation}}
    </div>

    <div class="col-lg-3">

      <ngb-carousel *ngIf="productDetails" class="perviousAndNextBtn">
        <ng-template ngbSlide *ngFor="let item of productDetails?.getProductImagess">
          <div class="picsum-img-wrapper">
            <img [src]="item?.url" alt="Random first slide" width="350px" class="d-block " height="400px">
          </div>
          <div class="carousel-caption">
            <h3>{{item?.imageTitle}}</h3>
            <p>{{item?.imageDescription}}</p>
          </div>
        </ng-template>
      </ngb-carousel>


    </div>
    <div class="col-lg-9 ">
      <br><br>
      <p
        style="color: #282828; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;">
        {{productDetails?.productName}} ({{productDetails?.productBrandName}} {{productDetails?.color}})
        &nbsp;


      </p>




      <span style="color: grey; font-size: 12px;">Product Id ____{{productDetails?.productID}}____</span>
      <br><br>
      <img *ngIf="productDetails?.showStarsByRatings"
        src="../../../../assets//stars-rating/{{productDetails?.showStarsByRatings == 'NaN'? 0: productDetails?.showStarsByRatings}}.png"
        width="130px" height="20px" alt="">

      ({{productDetails?.raiting}})
      &nbsp;&nbsp;&nbsp;&nbsp;<br><br>


      <h4 *ngIf="productDetails?.afterDiscountPrice == 0" style="padding-top: 1rem;"><strong
          style="font-size: 34px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{productDetails?.price
          | currency: 'Rs ': 'symbol':'1.0'}}</strong></h4>

      <h4 *ngIf="productDetails?.afterDiscountPrice > 0"
        style="color:#1c1018; font-size: 34px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin:0; ">
        <b>{{productDetails?.afterDiscountPrice |
          currency: 'Rs ': 'symbol':'1.0'}} </b>
      </h4><br>

      <h4 style=" font-size: 20px; " *ngIf="productDetails?.afterDiscountPrice > 0"><del>{{productDetails?.price |
          currency: 'Rs ':
          'symbol':'1.0'}} </del> &nbsp;&nbsp; <span class="discount-badge">-
          {{productDetails?.discountPercentage}}%</span></h4>

      <p *ngIf="productDetails?.afterDiscountPrice > 0"><strong>Offer ends {{productDetails?.discountExpireAt |
          date:'long'}}</strong>
      </p>


      <!--More Mobile Details -->
      <ul style="list-style: none; padding-left: 0%;">
        <li style="display: inline-block;">
          <div>
            <span style="color: grey; font-size: 14px;">Brand Name</span>
            <h6 style="font-size: 15px;">{{productDetails?.productBrandName}}</h6>
          </div>
        </li> &nbsp;
        <li style="display: inline-block;">
          <div>
            <span style="color: grey; font-size: 14px;">Condition</span>
            <h6 style="font-size: 15px;">New</h6>
          </div>
        </li>
        <li style="display: inline-block; padding-left: 15px;">
          <div>
            <span style="color: grey; font-size: 15px;">Delivery</span>
            <h6 style="font-size: 14px;">4 - 7 Working Days</h6>
          </div>
        <li style="display: inline-block; padding-left: 15px;">
          <div>
            <span style="color: grey; font-size: 15px;">Availability</span>
            <h6 style="font-size: 14px;">{{productDetails?.stockAvailiability == true? 'In Stock': 'Not Available'}}
            </h6>
          </div>
        </li>
        <li style="display: inline-block; padding-left: 15px;">
          <div>
            <span style="color: grey; font-size: 15px;">Product Id</span>
            <h6 style="font-size: 14px;">____{{productDetails?.productID}}____</h6>
          </div>
        </li><br>


        <li style="font-size:20px; display: inline-block; margin-right:1rem ;" *ngIf="productSizeAvailable">
          <span style="color: grey; font-size: 12px;">Size:</span><br>
          <select name="productSizeSelect" id="" (change)="productSizeSelectChange($event)">
            <option value="{{null}}" disabled selected>Select-Size</option>
            <option *ngFor="let singleSize of productSizesAndQuantityAvailable" [hidden]="singleSize?.sizeQuantity <= 0"
              value="{{singleSize?.sizeName}}">
              {{singleSize?.sizeName}}</option>
          </select>
        </li>


        <li style="display: inline-block; padding-left: 0px;">
          <div *ngIf="productDetails?.stockAvailiability">
            <span style="color: grey; font-size: 12px;">Quantity of Product:</span>
            <div style="margin-top: 4px; margin-bottom: 16px;">
              <button class="btn" style="background-color:#C8C8C8;" (click)="subtractingProductQuantity()"
                [disabled]="addQuantity == 1">-</button>&nbsp;
              <span>{{addQuantity}}</span> &nbsp;
              <button class="btn" style="background-color:#C8C8C8;" (click)="addingProductQuantity()"
                [disabled]="addQuantity == 5">+</button>
            </div>
          </div>

        </li>

      </ul>

      <div *ngIf="!productDetails?.stockAvailiability">
        <h1 style="color:red;">Currently unavailable.</h1>
        <p>We don't know when or if this item will be back in stock.</p>
      </div>

      <div *ngIf="productDetails?.stockAvailiability">

        <div class="contact-icons">
          <button (click)="navigation()" class="btn btn-success"><i class="fa-solid fa-phone"></i>&nbsp; &nbsp;Ask An
            Expert</button>

          <button (click)="navigation()" class="wishlist-btn" title="contact-us"><i
              class="fa-regular fa-envelope"></i></button>

          <button class="wishlist-btn" *ngIf="WishListProductAdded" (click)="ProductToWishListHandler()"><i
              title="Un-Wishlist" class="fa-solid fa-heart wishlist-heart AddWishListProduct"></i></button>

          <button class="wishlist-btn" (click)="ProductToWishListHandler()" *ngIf="!WishListProductAdded"><i
              title="Add to Wishlist" class="fa-regular fa-heart wishlist-heart"></i></button>


          <a class="facebook-btn" href="https://www.facebook.com" target="_blank"><i
              class="fa-brands fa-facebook-f"></i></a>

          <a class="email-btn" href="https://www.gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a>

          <a class="whatsapp-btn" href="https://www.whatsapp.com" target="_blank"><i
              class="fa-brands fa-whatsapp"></i></a>
        </div>


        <br><br><br>
        <div>
          <!-- Add to Cart & Buy Button -->
          <button type="button" class="btn btn-outline-info " *ngIf="showBuyBtns"
            style="border-radius: 15%; width: 200px; height: 45px;margin-right: 15px;"
            (click)="addToCartProduct(productDetails)">Add to Cart</button>

          <!-- Cart-View -->
          <button *ngIf="showBuyBtns" type="button" class="btn btn-primary "
            style="  border-radius: 15%; width: 200px; height: 45px;" id="addData" data-toggle="modal"
            data-target="#exampleModal" (click)="shoppingCartNavigation(productDetails)">Buy Now</button>
        </div>
      </div>

    </div>
  </div>

  <div class="ad-portion" style="padding-left: 20px; padding-right:20px;">
    <a href="{{sideMixProductsPage?.sponsoreWebsiteUrl}}" target="_blank"><img
        src="{{sideMixProductsPage?.sponsoreImageUrl}}"       style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" alt=""></a>

  </div>

</div>




<div class="container">
  <div class="row">
    <div class="col">
      <br><br><br><br>
      <h1 style="font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif;">
        <b>{{productDetails?.nestSubCategoryName}} Specification</b>
      </h1>
      <hr>
      <br>
      <div *ngFor="let item of productSpecificationDetails" [hidden]="item?.objectKey == 'Product size'">
        <td><strong>{{ item?.objectKey}}</strong></td><br>
        <td><span>{{item?.objectValue}}</span></td><br>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col">
      <h1>Product Review</h1><br>

      <div class="totalReviews">
        <span class="get-stars">{{productDetails?.showStarsByRatings == 'NaN'? 0:
          productDetails?.showStarsByRatings}}</span><span class="totalStars">/5</span><br>
        <img *ngIf="productDetails?.showStarsByRatings"
          src="../../../../assets//stars-rating/{{productDetails?.showStarsByRatings == 'NaN'? 0: productDetails?.showStarsByRatings}}.png"
          alt="">
      </div>

      <hr>
      <div class="" *ngFor="let item of singleProductReviews">
        <img *ngIf="item?.ratingStars" src="../../../assets/stars-rating/{{item?.ratingStars}}.png" width="120px"
          height="25px" alt="">
        <p>by {{item?.userFullName}}</p>
        <p>{{item?.productComment}}</p>
        <img *ngFor="let singlePhoto of item?.productReviewedPhoto" src="{{singlePhoto?.url}}"
          style="margin-right: 30px;  " width="100px" height="100px" alt="">
        <hr>
      </div>
    </div>

    <div>
      <ngb-pagination class="d-flex justify-content-center" (pageChange)="tablePageNoChange($event)"
        [collectionSize]="reviewsCount" [pageSize]="7" [page]="1" [directionLinks]="true">
      </ngb-pagination>
    </div>
  </div>
</div>


<app-footer></app-footer>
