<app-admin-header></app-admin-header>

<div [style]="getStyleFromNav">

  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <br>
        <div class="list-discounts-deals">
          <a [routerLink]="['/Admin/Add-Product-discount-deals']" class="btn btn-warning add-deals-btn">Add Products
            Deals <i class="fa fa-plus"></i></a><br><br>

          <p-table [value]="dealsList" [paginator]="true" [rows]="12" [showCurrentPageReport]="true"
            responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Deal_Id</th>
                <th>Deal_Name</th>
                <th>Created_At</th>
                <th>Expire_At</th>
                <th>Deal_Status</th>
                <th>Actions</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-singleDeal>
              <tr>
                <!-- <td><img src="{{carousel?.url}}" width="70px" height="60px" alt=""></td>
            <td>{{carousel?.imagePriority}}</td>
            <td>{{carousel?.imageTitle}}</td>
            <td>{{carousel?.imageDescription}}</td>
            <td style="max-width: 250px; max-height: 20px;">{{carousel?.navigationUrl}}</td>
            <td>
              <a pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="UpdateCarouselModel(carousel?.carouselID)"></a>
              &nbsp;

              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="openDeleteDialogConfarmation(carousel?.carouselID)"></button>
            </td> -->
              </tr>
            </ng-template>
            <!-- Extra template not worth to show its icons -->
            <ng-template pTemplate="paginatorleft">
              <p-button type="button" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button type="button" styleClass="p-button-text"></p-button>
            </ng-template>
          </p-table>



        </div>



      </div>
    </div>
  </div>


</div>
