<app-admin-header></app-admin-header>

<div [style]="getStyleFromNav">

  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <br>
        <div class="list-discounts-deals">
          <a [routerLink]="['/Admin/Add-Product-discount-deals']" class="btn btn-warning add-deals-btn">Add Products
            Deals <i class="fa fa-plus"></i></a><br><br>

          <p-table [value]="dealsList" [paginator]="true" [rows]="12" [showCurrentPageReport]="true"
            responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
              <tr>
                <th>Deal_Id</th>
                <th>Deal_Name</th>
                <th>Created_At</th>
                <th>Expire_At</th>
                <th>Deal_Status</th>
                <th>Live_Products_Count</th>
                <th>Actions</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-singleDeal>
              <tr>
                <td>{{singleDeal?.discountDealID}}</td>
                <td>{{singleDeal?.dealName}}</td>
                <td>{{singleDeal?.dealCreatedAt | date: 'd/M/yyyy, h:mm a'}}</td>
                <td>{{singleDeal?.dealExpireAt | date: 'd/M/yyyy, h:mm a'}}</td>
                <td>{{singleDeal?.dealStatus}}</td>
                <td>{{singleDeal?.countProducts}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-info"></button> &nbsp;
                  <a pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></a>
                  &nbsp;



                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                </td>

              </tr>
            </ng-template>
            <!-- Extra template not worth to show its icons -->
            <ng-template pTemplate="paginatorleft">
              <p-button type="button" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button type="button" styleClass="p-button-text"></p-button>
            </ng-template>
          </p-table>



        </div>



      </div>
    </div>
  </div>


</div>
