<app-navbar></app-navbar>

<div class="main">
  <div class="my-container">

    <div class="about-main">

      <div class="profile-img">
        <img src="../../../../assets/my-pic-2.JPG" alt="">
      </div>

      <div class="about-detail">
        <h1 style="font-size: 3rem;">About me</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam possimus minus dignissimos similique
          assumenda minima rem explicabo quis animi dolor est facere corrupti non neque delectus atque ad a quas quasi
          blanditiis veritatis, aspernatur unde nam in? Sequi explicabo sapiente eius nemo quis distinctio magni modi
          nostrum, nulla cupiditate ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea vero voluptate
          obcaecati veniam nisi qui ut fugit, numquam laboriosam et aperiam tempore cupiditate in, ipsa omnis quae a
          doloribus rem quas necessitatibus quos. Unde quasi doloribus est eaque, eligendi eveniet blanditiis, ipsum
          dignissimos aliquid maxime ducimus, accusantium tenetur quae expedita.
        </p>

        <div class="social-profile-icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>


      </div>

    </div>


  </div>
</div>




<app-footer></app-footer>
