<app-navbar></app-navbar>


<div class="container">
  <div class="row">
    <div class="col"><br>



      <div class="forget-password-section">



        <h1><strong>Choose a new password</strong></h1>
        <hr>

        <form #ResetPasswordForm="ngForm" (ngSubmit)="ResetPasswordData(ResetPasswordForm?.value)"
         >

          <h3>Create a new password that is at least 8 characters long. A strong password has a combination of letters,
            digits. 1 small case and 1 lower case letters and 1 Number is must</h3>

          <div class="form-group">
            <label for="password">Password </label>
            <input required #val2="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,15}$"
              type="password" ngModel id="password" name="Password" required placeholder="Password" minlength="6"
              class="form-control validationSpace" />
             <span *ngIf="val2.invalid &&val2.touched" style="color:red;">{{
              "(Password must have at least 8 characters,1 uppercase, 1 lower case and 1 Number)"}}</span>

          </div>

          <div class="form-group">
            <label for="password">Confirm-Password</label>
            <input #val3="ngModel" type="password" ngModel id="Confirm-Password" name="ConfirmPassword" required
              placeholder="ConfirmPassword" class="form-control validationSpace" />
             <span *ngIf=" val3.value !==val2.value" style="color:red;">Password required to confirm</span>
          </div>


          <button class="btn btn-primary" type="submit"
            [disabled]="ResetPasswordForm.invalid || val3.value != val2.value">Password Change</button> &nbsp; | &nbsp;
            <button class="btn" style="background-color: #e4e6eb; " [routerLink]="['/Auth']">Skip</button>
        </form>


      </div>
      <hr>
    </div>

  </div>
</div>
