<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col"><br>

      <div class="contact-paen-mart">
        <strong>
          <h1>Contact Paen-Mart!</h1>
        </strong>

      </div>

      <div class="box-1">
        <div class="box-1-detail">
          <img src="../../../../assets/message-icon.png" width="100px" height="41px" alt="">
          <p>We love hearing from our customers. You can email us with any questions at info@homeshopping.pk. We will
            respond back to you email as quickly as possible within a span of 24 - 48 Working Hours. You can call us
            anytime on 03-111-476-725 from Monday to Saturday, between 09:00 a.m. to 07:00 p.m.</p>
        </div>
      </div><br>

      <div class="box-1">
        <div class="box-1-detail">
          <img src="../../../../assets/call-icon.png" width="100px" height="41px" alt="">
          <p>We love hearing from our customers. You can email us with any questions at info@homeshopping.pk. We will
            respond back to you email as quickly as possible within a span of 24 - 48 Working Hours. You can call us
            anytime on 03-111-476-725 from Monday to Saturday, between 09:00 a.m. to 07:00 p.m.</p>
        </div>
      </div>
      <br>


      <div class="contact-paen-mart-email-section">
        <strong>
          <h1>Emails!</h1>
        </strong>

      </div><br>

      <div class="email-box-1">
        <div class="box-1-detail">
          <p>Support:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            <p>OfficalPaenMart@gmail.com</p>
          </strong>
        </div>
      </div><br>

      <div class="email-box-1">
        <div class="box-1-detail">
          <p>Support:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            <p>OfficalPaenMart@gmail.com</p>
          </strong>
        </div>
      </div><br>

      <!-- Help line section -->
      <div class="contact-paen-mart-help-line-section">
        <strong>
          <h1>Help Line # [03-43-124-8899] For Customers Across Pakistan!</h1>
        </strong>

      </div><br>

      <div class="contact-us-form-section">

        <div class="col-6">
          <form>
            <input type="text" class="form-control" placeholder="Your Name"><br>
            <input type="email" class="form-control" placeholder="Email"><br>
            <textarea ngModel class="form-control feedback-product-input"
            placeholder="Message"
            rows="4"  type="text" height="100%"></textarea><br><br>
            <button class="btn btn-primary">Send</button>
          </form>
        </div>


      </div>

    </div>
  </div>
</div>

<br>


<app-footer></app-footer>
