.contact-paen-mart {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.contact-paen-mart h1 {
  font-weight: 550;
  font-size: 27px;
}

.contact-paen-mart h1::before {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: "\a0";
  background-color: #a4b639;
  left: -123px;
}
.contact-paen-mart h1::after {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: "\a0";
  background-color: #a4b639;
  right: -123px;
}

.box-1 {
  padding: 1rem;
  background-color: #f2f2f2;
}

.box-1-detail {
  display: flex;
}

.box-1-detail p {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.box-1-detail img {
  padding-right: 2rem;
}

.contact-paen-mart-email-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.contact-paen-mart-email-section h1 {
  font-weight: 550;
  font-size: 27px;
}

.contact-paen-mart-email-section h1::before {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: "\a0";
  background-color: #a4b639;
  left: -61px;
}
.contact-paen-mart-email-section h1::after {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: "\a0";
  background-color: #a4b639;
  right: -61px;
}

.email-box-1 {
  background-color: #f2f2f2;
  padding-top: 0.5rem;
}

.contact-paen-mart-help-line-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.contact-paen-mart-help-line-section h1 {
  font-weight: 550;
  font-size: 27px;
}

.contact-paen-mart-help-line-section h1::before {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: "\a0";
  background-color: #a4b639;
  left: -381px;
}
.contact-paen-mart-help-line-section h1::after {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: "\a0";
  background-color: #a4b639;
  right: -381px;
}

.feedback-product-input {
  -webkit-text-size-adjust: 100%;
  border-collapse: separate;
  border-spacing: 0;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
  box-sizing: border-box;
  resize: none;
  width: 75%;
  border: none;
  outline: none;
  font-weight: 400;
  vertical-align: baseline;
  background-color: transparent;
  color: #212121;
  padding: 12px;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid grey;
}
