<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col"><br>

      <div class="contact-paen-mart">
        <strong>
          <h1>Contact Paen-Mart!</h1>
        </strong>

      </div>

      <div class="box-1">
        <div class="box-1-detail">
          <img src="../../../../assets/message-icon.png" width="100px" height="41px" alt="">
          <p>We love hearing from our customers. You can email us with any questions at OfficalPaenMart@gmail.com We will
            respond back to you email as quickly as possible within a span of 24 - 48 Working Hours. You can call us
            anytime on 03-111-476-725 from Monday to Saturday, between 09:00 a.m. to 07:00 p.m.</p>
        </div>
      </div><br>

      <div class="box-1">
        <div class="box-1-detail">
          <img src="../../../../assets/call-icon.png" width="100px" height="41px" alt="">
          <p>We love hearing from our customers. You can email us with any questions at OfficalPaenMart@gmail.com We will
            respond back to you email as quickly as possible within a span of 24 - 48 Working Hours. You can call us
            anytime on 03-111-476-725 from Monday to Saturday, between 09:00 a.m. to 07:00 p.m.</p>
        </div>
      </div>
      <br>


      <div class="contact-paen-mart-email-section">
        <strong>
          <h1>Emails!</h1>
        </strong>

      </div><br>

      <div class="email-box-1">
        <div class="box-1-detail">
          <p>Support:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            <p>OfficalPaenMart@gmail.com</p>
          </strong>
        </div>
      </div><br>

      <div class="email-box-1">
        <div class="box-1-detail">
          <p>Support:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>
            <p>OfficalPaenMart@gmail.com</p>
          </strong>
        </div>
      </div><br>

      <!-- Help line section -->
      <div class="contact-paen-mart-help-line-section">
        <strong>
          <h1>Help Line # [03-43-124-8899] For Customers Across Pakistan!</h1>
        </strong>

      </div><br>

      <div class="contact-us-form-section">

        <div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="messageSendMessage">
          {{messageSendMessage}}
        </div>

        <div class="col-6">
          <form #formData="ngForm" (ngSubmit)="submitContactUsForm(formData)">
            <input type="text" name="FullName" #name="ngModel" required ngModel class="form-control"
              placeholder="Your Name"><br>
            <span *ngIf="name?.invalid && name?.touched" style="color: red;">Please write your full-name</span>
            <input required type="email" name="Email" #email="ngModel"
              pattern="^[a-zA-Z0-9](\.?[a-zA-Z0-9]){1,}@gmail\.com$" ngModel class="form-control"
              placeholder="Email"><br>
            <div *ngIf="email?.invalid && email?.touched" style="color: red;">
              <span *ngIf="email?.errors['required']">Please write the gmail account</span>
              <span *ngIf="email?.errors['pattern']">Only gmail account allow</span>
            </div>
            <textarea ngModel name="MessageBody" class="form-control feedback-product-input" placeholder="Message"
              required #message="ngModel" minlength="100" rows="4" type="text" height="100%"></textarea><br><br>
            <div *ngIf="message?.invalid && message?.touched" style="color: red;">
              <span *ngIf="message?.errors['required']">Please write the gmail account</span>
              <span *ngIf="message?.errors['minlength']">Please write more then 100 characters</span>
            </div>

            <button [disabled]="formData?.invalid" class="btn btn-primary">Send Message</button>
          </form>
        </div>


      </div>

    </div>
  </div>
</div>

<br>


<app-footer></app-footer>
