.container {
  margin-top: 50px;
}

.p-button-rounded{
  margin-left: 15px;
}

.data-row:nth-child(old){
  background-color: white;
}

.data-row:nth-child(even){
  background-color: #e9ecef;
}

.add-category-btn{
  margin-bottom: 15px;
}

/* primng table card */
.card {
  padding: 0;
}

input{
  margin-top: 10px;
  margin-bottom: 10px;
}

.save-btn{
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.validation-span{
  color: red;
  display: block;
   margin-bottom: 5px;
}
