.first-footer-banner {
  width: 100%;
  height: 10%;
  padding: 20px;
  background-color: #faf8f8;
  /* position: fixed; */
}

.first-footer-banner-contact-size {
  margin-left: 211.8px;
  margin-right: 211.8px;
}

.banner-content {
  display: grid;
  grid-template-columns: 1100px 300px 300px 300px;
}

.col-second {
  text-align: center;
  font-size: 1rem;
}

.col-second:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.col-third {
  text-align: center;
  font-size: 1rem;
}

.col-third:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.col-forth {
  text-align: center;
  font-size: 1rem;
}

.col-forth:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.banner-content i {
  font-size: 2rem;
  padding-bottom: 10px;
   color: green;
}

.footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  background-color: #232f3e;
  color: white;
  height: 50%;
  padding: 56px 0px;
  overflow: auto;

}

.footer-right-left-space {
  margin-left: 192.8px;
  margin-right: 192.8px;
}

.social-links {
  display: flex;
  margin-bottom: 2rem;
}

.social-links h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.social-links .icons {
  font-size: 30px;
}

.icons i {
  margin-left: 50px;
  cursor: pointer;
}

.icons i:hover {
  color: #007185;
}

.footer-col {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px 250px;
  gap: 110px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 100%;
}

.col-3 {
  width: 100%;
}

.col-4 {
  width: 100%;
}

.col-5 {
  width: 100%;
}

.col-6 {
  width: 100%;
}

.footer-col p {
  font-size: 1.2rem;
}

.footer-col ul {
  padding: 0;
  margin: 0;
}

.footer-col li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col li a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.footer-col li a:hover {
  text-decoration: underline;
}

.copyright-footer {
  height: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131A22;
  color: white;
  text-align: center;
  /* position:fixed;  */
}

.col-5 ul {
  padding-bottom: 2rem;
}

.copyright-footer p {
  padding-top: 3px;
}

p {
  margin: 0;
}
